---
permalink: products.json
eleventyExcludeFromCollections: true
---

[
{% for product in collections.products %}
  {
    "name": {{ product.data.name | dump }},
    "category": {{ product.data.category | dump }},
    "price": {{ product.data.price }},
    "images": [
      {% if product.data.images %}
        {% for img in product.data.images %}
          {{ img | dump }}{% if not loop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    ],
    "description": {{ product.data.description | dump }},
    "payhipLink": {{ product.data.payhipLink | dump }},
    "slug": {{ product.data.slug | dump }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
